<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragmen="head">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Human Resource Project">
	<meta name="author" content="Juan Flores-Moroco">
	
	<title>Protex</title>
	
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/chosen.min.css}">
	<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/solid.min.css}">
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" th:href="@{/}"><i class="fas fa-users"></i> HR</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" th:href="@{/}">
						<i class="fas fa-home"></i> Home<span class="sr-only">(current)</span>
					</a></li>
					<li sec:authorize="isAuthenticated()" class="nav-item">
						<a class="nav-link" th:href="@{/carreras}">
							<i class="fas fa-database"></i> Carreras
					</a></li>
					<li sec:authorize="hasAnyRole('ROLE_USER','ROLE_MANAGER')" class="nav-item">
						<a class="nav-link" th:href="@{/estudiantes}">
							<i class="fas fa-server"></i> Estudiantes
					</a></li>
					<li sec:authorize="hasAuthority('ACCESS_REST1')" class="nav-item">
						<a class="nav-link" th:href="@{/docentes}">
							<i class="fas fa-server"></i> Docentes
					</a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
						<a class="nav-link" th:href="@{/cursos}">
							<i class="fas fa-server"></i> Cursos
					</a></li>
					<li sec:authorize="isAuthenticated()" class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" th:href="@{/}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"><i class="fas fa-cubes"></i> Maintenance 
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" th:href="@{cursos}"><i class="fas fa-flag"></i> Cursos</a>
							<a class="dropdown-item disabled" th:href="@{/}"><i class="fas fa-map-marker-alt"></i> Location</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/department}"><i class="fas fa-warehouse"></i> Department</a>
						</div>
					</li>
					<li class="nav-item"><a class="nav-link disabled" th:href="@{/employee}"
						tabindex="-1" aria-disabled="true"><i class="fas fa-user-tie"></i> Employee</a></li>
					<li sec:authorize="isAnonymous()" class="nav-item">
						<a class="nav-link" th:href="@{/login}">
							<i class="fas fa-sign-out-alt"></i> Login
					</a></li>
					<li sec:authorize="isAuthenticated()" class="nav-item">
						<a class="nav-link text-danger" th:href="@{/logout}">
							<i class="fas fa-sign-out-alt"></i> Logout
					</a></li>
				</ul>
				<ul sec:authorize="isAuthenticated()" class="navbar-nav">					  
				  	<li class="nav-item dropdown">
				    	<a class=" dropdown-toggle btn btn-outline-info my-2 my-sm-0 btn-sm" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				    		<i class="fas fa-user"></i> <strong><span th:text="${#authentication.getPrincipal().getNombres()}">Juancito</span></strong> (<span sec:authentication="name">Username</span>)					    	
				    	</a>
				    	<div class="dropdown-menu">
				      		<a class="dropdown-item" th:href="@{/perfil}"><i class="fas fa-address-card"></i> Perfil</a>
				      		<div class="dropdown-divider"></div>
				      		<a class="dropdown-item text-danger" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Logout</a>				      		
				    	</div>
					</li>

				</ul>

				<form sec:authorize="isAnonymous()" class="form-inline my-2 my-lg-0" form-method="post" th:action="@{~/login}">
					<button sec:authorize="isAnonymous()" th:href="@{~/login}" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit"><i class="fas fa-user-circle"></i> Sign in</button>
	            </form>
			</div>
		</nav>
	</header>
	<div class="container">
		<h1>Human resoruce</h1>	
	</div>
	<footer th:fragment="footer">
		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/chosen.jquery.min.js}"></script>
		<script th:src="@{/js/fontawesome.min.js}"></script>		
		<script th:src="@{/js/sweetalert.min.js}"></script>
	</footer>
</body>
</html>